
div.wood-house {
    background-color: #ba4b63;
    height: 300px;

    
}
div.cake{
    background-color: #cc96da;
    height: 300px;
}
div.circus{
    background-color: #ff0000;
    height: 300px;
}
div.game-pad{
    background-color: #2600ff;
    height: 300px;
}
div.safe-locker{
    background-color: #4c4c4d;
    height: 300px;
}
div.submarine{
    background-color: #d0ff00;
    height: 300px;
}


div.footer-meu{
    background-color: #3a546d;
    height: 20rem;
    color: white;
}
div.copyright{
    background-color: #5b5b5e;
}

.box{
    height: 400px;
    background-color: #1abc9c;
}


.central-cards{
    height: 300px;
    background-color: red;
    border: 3px dotted rgb(255, 255, 255);
}

.foot-card{
    height: 150px;
    background-color: red;
    border: 3px dotted rgb(255, 255, 255);
}

div.don-t img{
    -webkit-animation: blink 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1.5s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1.5s;
    -o-animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
