
.bg-custom-aqua{
    background-color: #1abc9c;
}
.bg-custom-blue{
    background-color: #2c3e50;
}
.bg-custom-dark{
    background-color: #3a546d;
}

.c-custom-blue{
    color: #2c3e50;
}




div.footer-meu{
    background-color: #3a546d;
    height: 20rem;
    color: white;
}
div.copyright{
    background-color: #5b5b5e;
}

.box{
    height: 400px;
    background-color: #1abc9c;
}

.custom-line{
    height: 4px;
    width: 10%;
}
.custom-area{
    border: none;
    border-bottom: 1px solid gray;
}

::placeholder { 
    color: #2c3e50;
    opacity: 1;
}

.foot-card{
    height: 150px;
    background-color: red;
    border: 3px dotted rgb(255, 255, 255);
}

div.don-t img{
    -webkit-animation: blink 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1.5s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1.5s;
    -o-animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
